{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row pb-4">
    <div class="col-12 text-center">
      <div class="display-3">Events</div>
    </div>
  </div>
  
  <div id="table-cover" >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Speaker</th>
          <th scope="col">Venue</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Details</th>
          <th scope="col">Register</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events_after_today %}
        <tr>
          <td>{{ event.name }}</td>
          <td>{{ event.speaker }}</td>
          <td>{{ event.venue }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.time }}</td>
          <td>
              <a href="{{event.details.url}}">Check</a>
          </td>
          <td>
              <a href="{{event.registeration_link}}">Register</a>
          </td>
        </tr>
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}


