{% extends "base.html" %} {% load static %} {% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
{% endblock extra_css %} {% block content %}
<div class="ct" style="position: absolute;"></div>
<div class="main content">
  <div class="lefttext">
    <div class="textwrap">
      {{self.side_text | richtext}}
    </div>
  </div>
  <div class="rightimage" id="carousel-image-conrainer">
    <div id="carousel-image">
    {% include "home/components/carousel.html" %}
    </div>
  </div>
</div>

<div class="pb-4">
  <div class="text-center">
    <div class="display-3">About Us</div>
  </div>
</div>
<div class="container card p-5 special-card">{{self.about | richtext}}</div>


{% include "home/components/events.html" %} 
{% include "home/components/news.html" %} 
{% endblock content %} 

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/home_page.js' %}"></script>
{% endblock extra_js%}
