{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %}

<main class="container my-5">
  <section class="profile-container">
    {% image self.image fill-274x274 as photo %}
    <img src="{{ photo.url }}" class="profile-image img-fluid" />
    <section class="profile-info">
      <img src="{{ photo.url }}" class="profile-image-hidden img-fluid" />
      <h1 class="first-name">{{ self.name }}</h1>
      <h2>Bio</h2>
      <p>{{self.bio|richtext}}</p>
      <h2>Interests</h2>
      <p>{{self.interests|richtext}}</p>
      <h2>Date of Joining</h2>
      <p>{{self.date_of_joining|date:"d F, Y"}}</p>
      {% for information in self.information.all %} {% if information.title%}
      <h2>{{information.title}}</h2>
      {% endif %} {{information.text|richtext}} {% endfor %}

      <aside
        class="social-media-icons d-flex justify-content-around flex-wrap card-body"
      >
      {% if self.phone_number %}
        <a href="tel:{{self.phone_number}}" target="_blank">
          <i class="fa fa-phone"></i> 
        </a>
      {% endif %}
      {% if self.email %}
        <a href="mailto:{{self.email}}" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
      {% endif %}
      {% if self.google_scholar_link %}
        <a href="{{self.google_scholar_link}}" target="_blank">
          <i class="fab fa-google"></i> 
        </a>
      {% endif %}
      {% if self.orcid_link  %}
        <a href="{{self.orcid_link}}" target="_blank">
          <i class="fa-brands fa-orcid"></i>
        </a>
      {% endif %}
      {% if self.linkedin_link %}
        <a href="{{self.linkedin_link}}" target="_blank">
          <i class="fab fa-linkedin"></i> 
        </a>
      {% endif %}
      </aside>
    </section>
  </section>
</main>
