{% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events_news.css' %}" />
{% endblock extra_css %} 
{% block content %}
{% if events.all|length %}
    <div class="circulars containTitle mb-5">
        <div class="pb-4">
            <div class="text-center">
              <div class="display-3">Events</div>
            </div>
        </div>
        
        <div class="owl-carousel">
        {% for item in events.all %}
        <div class="card-container" style="margin: auto;">
            <div class="photo-container">
              <div class="date">
                <div class="day">{{item.date|date:"d" }}</div>
                <div class="month">{{item.date|date:"M" }}</div>
              </div>
              <div class="image"></div>
            </div>
            <div class="info-container">
              <div class="text-container">
                <a class="event-name"  href="{{item.url}}">
                  {{item.name}}
                </a>
                <div class="event-location">
                  {{item.venue}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}   
        </div>
    </div>
    {% endif %}
{% endblock content %} 
