{% load static %} 
{% load wagtailcore_tags %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/events_news.css' %}" />
{% endblock extra_css %} 
{% block content %}
{% if self.news.all|length %}
    <div class="circulars containTitle mb-5">
        <div class="pb-4">
            <div class="text-center">
              <div class="display-3">News</div>
            </div>
        </div>
        
        <div class="owl-carousel">
        {% for item in self.news.all %}
        <div class="card-container-1" style="margin: auto;">
            <div class="info-container">
              <a class="event-name"  href="{{item.url}}">
                {{item.name}}
              </a>
              <div class="event-location">
                {{ item.description|richtext }}
              </div>
            </div>
          </div>
        {% endfor %}   
        </div>
    </div>
    {% endif %}
{% endblock content %} 
