:root {
    --color-primary: #022c56;
    --color-primary-darker: #333;
    --color-primary-dark: #022c56;
    --color-primary-lighter: #022c56;
    --color-primary-light: #022c56;
    --color-input-focus: #fefefe;
    --color-input-focus-border: #022c56;
    
}

.status-tag {
    color: white !important;
    background: #333 !important;
}
