{% extends 'base.html' %} {% load wagtailcore_tags %} {% load wagtailimages_tags %} {% block content %}
<style>
  .map_sec {
    padding: 50px 0px;
  }
  .map_inner h4,
  .map_inner p {
    color: #000;
    text-align: center;
  }
  .map_inner p {
    font-size: 13px;
  }
  .map_bind {
    margin: auto;
    border-radius: 30px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    box-shadow: 0 20px 35px -5px #022c56;
  }

  .right_conatct_social_icon {
    background: #022c56;
  }
  .contact_us_large {
    background-color: #f1f1f1;
    padding: 120px 0px;
  }

  .contact_us_small {
    display: none;
  }

  @media screen and (max-width: 991px) {
    .contact_us_large {
      display: none;
    }
    .contact_us_small {
      display: block;
      background-color: #f1f1f1;
      padding: 120px 0px;
    }
  }

  .contact_inner {
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
  }

  .contact_us_small .contact_field {
    padding: 30px;
  }

  .contact_field {
    padding: 60px 340px 90px 100px;
  }
  .right_conatct_social_icon {
    height: 100%;
  }

  .contact_field h3 {
    color: #000;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact_field p {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
  }
  .contact_field .form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  .contact_field .form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
  }
  .contact_field .form-control::placeholder {
    font-size: 13px;
    letter-spacing: 1px;
  }

  .contact_info_sec {
    position: absolute;
    background: linear-gradient(to right, #ccc, #1a1a5a);
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
    backdrop-filter: saturate(180%) blur(10px);
  }

  .contact_info_sec_small {
    position: relative;
    background: linear-gradient(to right, #ccc, #1a1a5a);
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px;
    backdrop-filter: saturate(180%) blur(10px);
    margin: 20px auto;
  }

  .contact_info_sec h4 {
    letter-spacing: 1px;
    padding-bottom: 15px;
  }

  .info_single {
    margin: 30px 0px;
  }
  .info_single i {
    margin-right: 15px;
  }
  .info_single span {
    font-size: 14px;
    letter-spacing: 1px;
  }

  button.contact_form_submit {
    background: #022c56;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .socil_item_inner li {
    list-style: none;
  }
  .socil_item_inner li a {
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
  }
  .socil_item_inner {
    padding-bottom: 10px;
  }

  .map_sec {
    padding: 50px 0px;
  }
  .map_inner h4,
  .map_inner p {
    color: #000;
    text-align: center;
  }
  .map_inner p {
    font-size: 13px;
  }
  .map_bind {
    margin-top: 50px;
    border-radius: 30px;
    overflow: hidden;
  }
</style>
<section class="contact_us_large">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="contact_inner">
          <div class="row">
            <div class="col-md-10">
              <div class="contact_form_inner">
                <div class="contact_field">
                  <h3>Contact Us</h3>
                  <p>
                    Feel Free to contact us any time. We will get back to you as
                    soon as we can!.
                  </p>
                  <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    <input
                      type="text"
                      name="name"
                      class="form-control form-group"
                      placeholder="Name"
                      required
                      id="id_name"
                    />
                    <input
                      type="text"
                      name="email"
                      class="form-control form-group"
                      placeholder="Email"
                      required
                      id="id_email"
                    />
                    <textarea
                      class="form-control form-group"
                      name="message"
                      placeholder="Message"
                      required
                      id="id_message"
                    ></textarea>
                    <button class="contact_form_submit" type="submit">
                      Send
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="contact_info_sec">
            <h4>Contact Info</h4>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-headset"></i>
              <span>{{self.phone_number}}</span>
            </div>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-envelope-open-text"></i>
              <span>{{self.email}}</span>
            </div>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-map-marked-alt"></i>
              <span>{{self.address}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_us_small">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="contact_inner">
          <div class="col-md-12">
            <div class="contact_form_inner">
              <div class="contact_field">
                <h3>Contact Us</h3>
                <p>
                  Feel Free to contact us any time. We will get back to you as
                  soon as we can!.
                </p>
                <form action="{% pageurl page %}" method="POST">
                  {% csrf_token %}
                  <input
                    type="text"
                    name="name"
                    class="form-control form-group"
                    placeholder="Name"
                  />
                  <input
                    type="text"
                    name="email"
                    class="form-control form-group"
                    placeholder="Email"
                  />
                  <textarea
                    class="form-control form-group"
                    name="message"
                    placeholder="Message"
                  ></textarea>
                  <button class="contact_form_submit" type="submit">
                    Send
                  </button>
                </form>
                <div class="contact_info_sec_small">
                  <h4>Contact Info</h4>
                  <div class="d-flex info_single align-items-center">
                    <i class="fas fa-headset"></i>
                    <span>{{self.phone_number}}</span>
                  </div>
                  <div class="d-flex info_single align-items-center">
                    <i class="fas fa-envelope-open-text"></i>
                    <span>{{self.email}}</span>
                  </div>
                  <div class="d-flex info_single align-items-center">
                    <i class="fas fa-map-marked-alt"></i>
                    <span>{{self.address}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>




<section class="map_sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="map_inner">
          <h4>Find Us on Google Map</h4>
          <div class="map_bind" id="map"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block extra_js %}
<script>
  function initMap() {
    const uluru = {
      lat: parseFloat("{{self.latitude}}"),
      lng: parseFloat("{{self.longitude}}"),
    };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 15,
      center: uluru,
    });
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }

  window.initMap = initMap;
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4HzSjPjRNoG-qidQAbBqnFI1Fq47Hbik&callback=initMap"
  defer
></script>

{% endblock %}
