.homeCarousel img {
    height: 80vh;
    inline-size: inherit;
    max-height: 70vh;
    width: 60%;
}

#ci {
    width: unset !important;
    transform: translateX(-22.5%);
}

.carousel-inner {
    border-radius: 10px;
    box-shadow: 0 20px 35px
}