{% load static %}
{% load menu_tags %}
{% get_nav_menu as nav_menu%}

<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-b">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" href="#">
      <img src="{% static 'images/logo.png' %}" class="img-fluid"/>
      <div class="text-center ps-3" id="brand">
        <b>Research Scholars Forum <br/>
        NIT Tiruchirappalli</b>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav m-auto my-2">
        {% for item in nav_menu %}
          <li class="nav-item">
            {% if item.nav_page.url == request.path %}
              <a class="nav-link" id="nav-link" style="color: #f63d3d !important; border-bottom: 2px solid #f63d3d;" href="{%if item.nav_page%}{{item.nav_page.url}}{%else%}{{item.link_url}}{%endif%}">{{ item.nav_name }}</a>
            {% else %}
              <a class="nav-link" id="nav-link" href="{%if item.nav_page%}{{item.nav_page.url}}{%else%}{{item.link_url}}{%endif%}">{{ item.nav_name }}</a>
            {% endif %}
            <!-- <a class="nav-link" id="nav-link" href="{%if item.nav_page%}{{item.nav_page.url}}{%else%}{{item.link_url}}{%endif%}">{{ item.nav_name }}</a> -->
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div id="empty"></div>